<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Purple Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left p-5">
              <div class="brand-logo">
                <img src="../../images/logo.svg">
              </div>
              <h4>要注册吗？</h4>
              <h6 class="font-weight-light">只需要填写下面的信息就好了，其他的交给我们</h6>
              <form class="pt-3" th:action="@{/tikesignup}" th:method="post">
                <div class="form-group">
                  <input type="text" name="phone" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="手机号">
                </div>
                <div class="form-group">
                  <input type="Password" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="密码">
                </div>
                <!--<div class="form-group">-->
                  <!--<select class="form-control form-control-lg" id="exampleFormControlSelect2">-->
                    <!--<option>Country</option>-->
                    <!--<option>United States of America</option>-->
                    <!--<option>United Kingdom</option>-->
                    <!--<option>India</option>-->
                    <!--<option>Germany</option>-->
                    <!--<option>Argentina</option>-->
                  <!--</select>-->
                <!--</div>-->
                <div class="form-group">
                  <input type="password" name="pass" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="请重复">
                </div>
                <div class="mb-4">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      我已阅读并同意相关协议内容
                    </label>
                  </div>
                </div>
                <div class="mt-3">
                  <button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" type="submit">注册</button>
                </div>
                <div class="text-center mt-4 font-weight-light">
                  已经是我们的人？ <a href="login.html" class="text-primary">登录</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <script src="../../vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/misc.js"></script>
  <!-- endinject -->
</body>

</html>
